.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

@media (min-width: 920px) {
    .cardsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
}