.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}
.time{
    font-size: 1.5rem;
    font-family: "Tiro Devanagari Marathi", serif;
    text-shadow: -4px -2px 8px #ffffff;
}